* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh; /* Use viewport height for full height */
    background: url("../img/building-background.png") center center/cover no-repeat;
    position: relative;
}

.header {
    width: 100%;
    position: fixed; /* Fixed header */
    top: 0;
    border: none; /* Remove border if not needed */
    box-shadow: none; /* Remove box shadow if not needed */
    z-index: 10; /* Ensure header is above other content */
}

.brand, .login {
    position: absolute;
    color: white;
    font-size: 24px; /* Brand font size */
}

.brand {
    top: 20px;
    left: 20px;
}

.login {
    top: 20px;
    right: 20px;
    font-size: 1rem; /* Login link font size */
    text-decoration: none; /* No underline for login link */
}

.login a {
    color: #3F748F; /* Same color as the brand */
    text-decoration: none; /* No underline */
}

.login a:hover {
    text-decoration: underline; /* Underline on hover */
}

.description {
    max-width: 920px; /* Limit the width to prevent overflow */
    color: white;
    position: absolute;
    top: 40%; /* Adjust top position as needed */
    left: 80px;
    font-weight: 700;
    font-size: 2.5rem; /* Adjust font size as needed */
    line-height: 1.2; /* Adjust line height for better readability */
    text-align: left;
}

.cta-section {
    position: absolute;
    top: 60%; /* Adjust top position to not overlap the description */
    left: 80px;
}

.cta {
    color: white;
    font-size: 1.5rem; /* Adjust cta font size as needed */
    text-decoration: underline; /* Underline for 'Ready to get started?' */
    cursor: pointer; /* Indicates the text is clickable */
}

/* Additional media query for responsiveness */
@media (max-width: 768px) {
    .description {
        font-size: 1.5rem; /* Smaller font size for mobile */
        line-height: 1.3;
    }
    .cta {
        font-size: 1.2rem; /* Smaller cta font size for mobile */
    }
    .login {
        font-size: 16px; /* Modified login link font size for mobile */
    }
}

